<ion-view view-title="About">
    <ion-content>
        <div class="row">
            <h4 id="aboutUs">BeerMeKC is the definitive app for beer aficionados in the Kansas City Area.   Browse local breweries, view their offerings, and get directions to some of the best offerings around.  If you don't know what you want - get  prepared to send your palate on a wondrous tour.  BeerMeKC will present you with a recommended delicious selection.  If you like the recommendation – swipe right and we’ll show you how.  A swipe left means “Nah…not a fan of that one.”  We care about what you think and will listen better than significant other - our recommendations get better as you let us know what you like.  <br></h4></div>
        <div class="row">
            <h4 id="aboutUs">Just so you know, we are an app for those who love a good local beer.  If you want watered down, recycled beer – just get on I-70 and head east or west.  If that doesn’t apply to you, then go hit BeerMe!   Seriously, why are you still reading this…do we need a button on this page for you?  Fine…
</h4></div><br>
        <p style="font-style: italic">--The BeerMeKC Team--</p>
    </ion-content>
</ion-view>