<ion-view view-title="Beer Me!">
    <ion-content scroll="false">
      <ion-pane ng-controller="CardsCtrl">

        <td-cards>
          <td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)"
                   on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)"
                   on-partial-swipe="cardPartialSwipe(amt)">
            <div class="title">
              {{card.title}}
            </div>
            <div class="image">
              <div class="no-text overlayBox"><div class="noBox boxed">Trash</div></div>
              <img ng-src="{{card.image}}">
              <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Save</div></div>
            </div>
            <div class="beer-info">
              <p>
                Brewed at: {{card.brewery.name}}
              </p>
              <p>
                Style: {{card.style.name}}
              </p>
              <p>
                Abv: {{card.abv}}
              </p>
              <p>
                Ibu: {{card.ibu}}
              </p>
            </div>
          </td-card>
        </td-cards>
      </ion-pane>
    </ion-content>
</ion-view>
